---
import Layout from '../../layouts/BlogPost.astro';
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
  return [
    { params: { tag: "rust" } },
    { params: { tag: "python" } },
    { params: { tag: "huggingface" } },
    { params: { tag: "flask" } },
    { params: { tag: "math" } },
  ];
}

const { tag } = Astro.params;
const _posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const posts = _posts.filter((post) => post.data.tags?.includes(tag));
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="max-w-prose m-auto px-4">
    <Header />
    <main>
      <section>
      <ul>
          {
            posts.map((post) => (
              <li class="mb-8">
                <div class="tags">
                  {post.data.tags && post.data.tags.map(tag => (
                    <a href=`/tags/${tag}`>#{tag}</a>
                  ))}
                </div>
                <a href={`/${post.slug}/`}>
                  <h1 class="text-xl font-bold hover:underline">
                    {post.data.title}
                  </h1>
                </a>
                <p class="mb-2 text-gray-600">{post.data.description}</p>
                <a href={`/${post.slug}/`}>
                  <h2 class = "article-read">Read this article <i class="fa-solid fa-arrow-right"></i></h2>
                  </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
